<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T3PQXLF');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta charset="utf-8"/>
    <title>Taggenberg Beef</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
    <meta name="referrer" content="origin-when-cross-origin"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/main.css" crossorigin="anonymous">

</head>
<body class="ltr">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3PQXLF"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="header">


    <nav class="navbar navbar-expand-lg fixed-top container-fluid d-none d-md-block">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Taggenberg Beef</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#offer-anchor">Angebot</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#news-anchor">Aktuelles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#beef-anchor">Taggenberg Beef</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#hof-anchor">Hof</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-anchor">Kontakt</a>
                    </li>					
                </ul>
            </div>
        </div>
    </nav>

    <div id="entry-image" class="d-md-none">
        <img src="assets/media/images/1b2225e4-6963-4cca-8c73-9695304d4a7b.jpeg"/>
        <div class="hero">
            <h1>
                <p>Winterthurer</p>
                <span>Taggenberg Beef</span>
            </h1>
        </div>
    </div>

    <div id="entry-slider" class="carousel slide d-none d-md-block" data-interval="false" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#entry-slider" data-slide-to="0" class="active"></li>
            <li data-target="#entry-slider" data-slide-to="1"></li>
            <li data-target="#entry-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block" src="assets/media/placeholder/city.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block" src="assets/media/images/1b2225e4-6963-4cca-8c73-9695304d4a7b.jpeg"
                     alt="Fourth slide">
            </div>
            <div class="carousel-item">
                <img class="d-block" src="assets/media/images/5bd089eb-7156-47ec-9fd0-8a60152fa4a3.jpeg"
                     alt="Fifth slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#entry-slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Zurück</span>
        </a>
        <a class="carousel-control-next" href="#entry-slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Weiter</span>
        </a>
    </div>


    <div class="overlay d-none d-md-block">
        <div class="hero">
            <h1>
                <p>Winterthurer</p>
                <span>Taggenberg Beef</span>
            </h1>

            <a id="scroll" href="#offer-anchor">
                <svg viewBox="0 0 32 32">

                    <path class="st0"
                          d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,2C8.3,2,2,8.3,2,16s6.3,14,14,14  s14-6.3,14-14S23.7,2,16,2z"></path>
                    <path class="st0"
                          d="M20.7,14.8l-3.8,3.8C16.6,18.9,16.3,19,16,19c-0.3,0-0.6-0.1-0.9-0.3l-3.8-3.8c-0.4-0.4-0.4-1.1,0-1.5  c0.4-0.4,1.1-0.4,1.5,0l3.2,3.2l3.2-3.2c0.4-0.4,1.1-0.4,1.5,0C21.1,13.7,21.1,14.4,20.7,14.8z"></path>
                </svg>
            </a>
        </div>
    </div>
</div>


<div id="content" class="container-fluid">
    <section id="offer">
	<span class="anchor" id="offer-anchor"></span>
        <div class="row">
            <div class="col-md-12">
            <h2>Unsere Angebote</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>BIO Natura Beef</h3>
				
				<p>Erfahren Sie mehr über unser Taggenberg Beef und laden Sie ein Bestellformular herunter.</p>
				
				<a class="btn btn-primary" href="#beef-anchor">Infos</a>
				<a class="btn btn-primary" href="assets/media/Bestellung.pdf" download>Bestellformular</a>
				<p></p>
            </div>
            <div class="col-md-6">
                <h3>Süssmost</h3>
                <p>Wir haben Süssmost zum selber abfüllen oder in 5 und 10 Liter Bag-in-Boxen. Kommen Sie einfach bei uns auf dem Hof
                    vorbei und bedienen Sie sich.</p>
            </div>
        </div>
    </section>
    <section id="news">
		<span class="anchor" id="news-anchor"></span>
        <div class="row">
            <div class="col-12">
                <h2>Aktuelles</h2>
				<article>
					<h3>Sommersaison</h3>
					<p>Im Sommer bieten wir auf dem Hof folgende feine Obstsorten:
						<ul>
							<li>Äpfel</li>
							<li>Birnen</li>
							<li>Zwetschgen</li>
							<li>Baumnüsse</li>
							<li>Kirschen (auch zum selber Pflücken)</li>
						</ul>
					</p>
				</article>
            </div>
        </div>
    </section>
    <section id="beef">
		<span class="anchor" id="beef-anchor"></span>
        <h2>Taggenberg Beef</h2>
        <h3>Fleisch aus der Mutterkuhhaltung. Im Einklang mit der Natur</h3>
        <p>Der neu erbaute, moderne Laufstall wurde im September 2013 bezogen. Die Mutterkühe und ihre Kälber haben die Möglichkeit ihre natürlichen Verhaltensweisen auszuleben.

        Unser Betrieb war seit Januar 2014 in der Bio Umstellungsphase. Diese dauerte zwei Jahre. Seit Januar 2016 ist unser Betrieb Bio Suisse zertifiziert.

        Mutterkuhhaltung heisst:
            <ul>
                <li>die Kälber sind 8 – 10 Monate alt, saugen die Milch von ihrer Mutter und fressen Gras und Heu von unserem Hof.</li>
                <li>sie werden tierfreundlich und naturnah gehalten</li>
                <li>Vom Frühling bis im Herbst geniessen sie den täglichen Weidegang, im Winter leben sie in der Herde in einem grosszügigen Laufstall mit Laufhof</li>
                <li>Regelmässige Vorschriftskontrollen</li>
                <li>Das Fleisch ist zart wie Kalbfleisch aber kräftig im Geschmack wie Rindfleisch</li>
            </ul>
        </p>
		
		<h3>Labels</h3>
		
		<p>Erfahren Sie mehr über die Label "Bio Suisse" und "Naturabeef", welche wir einhalten.</p>
		
		<a class="label" href="https://www.bio-suisse.ch/de/konsumenten/haeufigefragen/labels.php"><img src="assets/media/images/1200px-Bio_Suisse_201x_logo.svg.png" /></a>
		<a class="label" href="https://www.mutterkuh.ch/de/natura-beef"><img src="assets/media/images/Logo_Natura-Beef_NEU_2014.jpg" /></a>
    </section>
    <section id="hof">
		<span class="anchor" id="hof-anchor"></span>
        <h2>Unser Hof</h2>
        <p>Unser Hof befindet sich in Winterthur-Wülflingen oder genauer gesagt auf dem Taggenberg. Seit 1900 ist es ein Bauernhof in Besitz der Stadt Winterthur. Seit 1950 pachtet die Familie Moser den Bauernhof,
		der seit 2013 einen neuen Laufstall erhalten hat und damit den Beginn der Umstellung auf Bio-Fleisch eingeleitet hat. Seit 5 Jahren ist der Betrieb Bio-Suisse zertifiziert. Kommen Sie jederzeit vorbei wenn Sie sich näher interessieren.</p>
        <div id="gallery-hof" class="carousel slide d-md-block" data-interval="false" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#gallery-hof" data-slide-to="0" class="active"></li>
                <li data-target="#gallery-hof" data-slide-to="1"></li>
                <li data-target="#gallery-hof" data-slide-to="2"></li>
                <li data-target="#gallery-hof" data-slide-to="3"></li>
                <li data-target="#gallery-hof" data-slide-to="4"></li>
                <li data-target="#gallery-hof" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block" src="assets/media/images/drohne_hof.PNG" alt="Hof von oben">
                </div>
                <div class="carousel-item">
                    <img class="d-block" src="assets/media/images/fb99e255-4c1f-46a7-9022-5c90fe6bfab4.jpeg" alt="Der Hof im Frühling">
                </div>
                <div class="carousel-item">
                    <img class="d-block" src="assets/media/images/20210115_140939.jpg" alt="Der Hof im Winter">
                </div>
                <div class="carousel-item">
                    <img class="d-block" src="assets/media/images/5bd089eb-7156-47ec-9fd0-8a60152fa4a3.jpeg"
                         alt="">
				</div>						 
				<div class="carousel-item">
                    <img class="d-block" src="assets/media/images/24972e62-1256-4e4c-af57-b861a7aaf98b.jpeg"
                         alt="">			
				</div>							 
				<div class="carousel-item">
                    <img class="d-block" src="assets/media/images/c8ba0070-f2ca-4d0a-988a-d7ef0bbbd25c.jpeg"
                         alt="">
				</div>	
            </div>
            <a class="carousel-control-prev" href="#gallery-hof" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Zurück</span>
            </a>
            <a class="carousel-control-next" href="#gallery-hof" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Weiter</span>
            </a>

        </div>
       
    </section>
		<section id="form" style="display:none;">
		<h2>Kontaktformular</h2>
		<p>*Pflichtfelder</p>
		<form>
			<div class="left">
				<input type="text" id="honig" value=""></input>
				<input type="text" required placeholder="Name*"></input>
				<input type="text" placeholder="Strasse"></input>
				<input type="text" placeholder="PLZ/ORT"></input>
				<input type="text" required placeholder="Telefon*"></input>
				<input type="text" required placeholder="E-Mail"></input>

			</div>
			<div class="right">
				<p>Gewünschte Portionierung</p>
				<label for="beef1">Filet, Huft, Hohrücken, Entrecôte:</label>
				<input id="beef1" type="number" min="2" max="10">
				<label for="beef2">Voressen, Geschnetzeltes, Hackfleisch:</label>
				<input id="beef2" type="number" min="300g" max="800g"> Gramm				
			</div>
			
			<input type="submit" value="Absenden" />
		</form>

		
	</section>
    <section id="contact">
		<span class="anchor" id="contact-anchor"></span>
        <h2>Kontakt</h2>
        <p><span>Thomas Moser</span>
            <span>Taggenbergstrasse 76</span>
            <span>8408 Winterthur</span>
            <span>Schweiz</span>
        </p>
        <div class="d-none d-lg-block">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.498169540771!2d8.684387995729521!3d47.51916351033936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a9bf8bbf4e981%3A0x4497ec25421475ad!2sTaggenbergstrasse%2076%2C%208408%20Winterthur!5e0!3m2!1sde!2sch!4v1595871859496!5m2!1sde!2sch" width="1170" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="d-lg-none">
            <a href="https://goo.gl/maps/a3NHwSYcKbZ3ih9F8">Link zu Google Maps</a>
        </div>

    </section>

</div>
</body>
</html>
